.bg-mobile {
  display: flex;
  flex-direction: column;
  background: #221c38;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/mobile-bg.png");
  background-position: center top;
  background-attachment: scroll;
}
